.grid-parent
  .grid-row
    .grid-column__desktop--90.grid-column__tablet--50.grid-column__mobile--100
      .grid-inner
        90/50/100
    .grid-column__desktop--10.grid-column__tablet--50.grid-column__mobile--100
      .grid-inner
        10/50/100

    .grid-column__desktop--90.grid-column__tablet--50.grid-column__mobile--100
      .grid-inner
        90/50/100
    .grid-column__desktop--10.grid-column__tablet--50.grid-column__mobile--100
      .grid-inner
        10/50/100


    .grid-column__desktop--33.grid-column__tablet--33.grid-column__mobile--100
      .grid-inner
        33/33/100
    .grid-column__desktop--33.grid-column__tablet--33.grid-column__mobile--100
      .grid-inner
        33/33/100
    .grid-column__desktop--33.grid-column__tablet--33.grid-column__mobile--100
      .grid-inner
        90/33/100


.debug