%section#section_grid.fluid-wrapper
  .grid-wrapper
    .grid-100
      .inner-wrapper
        100 %

    .grid-50
      .inner-wrapper
        50 %
    .grid-50
      .inner-wrapper
        50 %

    .grid-25
      .inner-wrapper
        25 %
    .grid-10
      .inner-wrapper
        10 %
    .grid-5
      .inner-wrapper
        5 %
    .grid-60
      .inner-wrapper
        60 %

    .grid-33
      .inner-wrapper
        33 %
    .grid-33
      .inner-wrapper
        33 %
    .grid-33
      .inner-wrapper
        33 %

    .grid-5
      .inner-wrapper
        5 %
    .grid-5
      .inner-wrapper
        5 %
    .grid-5
      .inner-wrapper
        5 %
    .grid-5
      .inner-wrapper
        5 %
    .grid-5
      .inner-wrapper
        5 %
    .grid-5
      .inner-wrapper
        5 %
    .grid-5
      .inner-wrapper
        5 %
    .grid-5
      .inner-wrapper
        5 %
    .grid-5
      .inner-wrapper
        5 %
    .grid-5
      .inner-wrapper
        5 %
    .grid-5
      .inner-wrapper
        5 %
    .grid-5
      .inner-wrapper
        5 %
    .grid-5
      .inner-wrapper
        5 %
    .grid-5
      .inner-wrapper
        5 %
    .grid-5
      .inner-wrapper
        5 %
    .grid-5
      .inner-wrapper
        5 %
    .grid-5
      .inner-wrapper
        5 %
    .grid-5
      .inner-wrapper
        5 %
    .grid-5
      .inner-wrapper
        5 %
    .grid-5
      .inner-wrapper
        5 %