/* 
  grid parent
  
  $grid-namespace}-$grid-namespace__parent
  full width item with a max width defined when registering 
  the media queries, this is the main container for any grid row
  

%#{$grid-namespace}-#{$grid-namespace__parent}
  width: 100%
  margin: auto
  @extend %clearfix

  @each $query-name, $body-max-width, $query in $mediaqueries
    @media #{nth($query,2)}
      max-width: unquote(nth($body-max-width, 2))